<div class="face-snap-card" [ngClass]="{ snapped: snapButtonText !== 'Oh Snap!' }">
    <!--lowercase upercase -->
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <p>Mise en ligne le : {{ faceSnap.createdDate | date: 'EEEE d MMMM yyyy, à HH:mm' | titlecase }}</p>
    <img [src]="faceSnap.imageURL" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    <p>
        <button (click)="onSnap()">{{snapButtonText}}</button>
        <span [ngStyle]="{ color : 'rgb(0,' + faceSnap.snaps*10 + ', 0)'}" >Snaps: {{ faceSnap.snaps }}</span>
    </p>
    <!-- 
    <p>{{ 4652.2569 | number: '1.0-2'}}</p> 
        décimal pipe : min 1 chiffre avant la vigule . min 0 après vir - arrondie à 2 chiffres après vir
    <p>{{ 0.336 | percent: '1.2-2' }}</p>
       percent pipe : arrondit si pas config
    <p>{{344.56 | currency: 'EUR' : 'code'}}</p>
        code affiche le code à la place du symbole (EUR)
    -->
</div>


